.title {
  flex-basis: 100%;
}

.nav-tool-items {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 539px) {
  .title {
    display: none;
  }
}

